# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea
nul
NUL
# gradle
build
.gradle
kneaf_db_memory/
# other
eclipse
run
runs
run-data
**/target/**
repo
test_server/